#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

.button {
  background-color:rgb(13, 153, 106);
  color: #f5f5f5;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--base-color);
}
