/* Reset CSS*/
/*  --text-color: hsl(0 0% 46%);*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* HSL color mode */
  --title-color: hsl(var(--hue) 65% 88%);
  --body-color: hsl(0 0% 98%);
  --text-color: rgb(7, 3, 26);
  --text-color-light: rgb(255, 255, 255);
  --title-color1: rgb(26, 6, 6);
  --base-color: #28AAC7;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  font: 400 1rem sans-serif;
  -webkit-font-smoothing: auto;
}

ul {
  list-style: none;
}

main {
  height: 4.5rem;
}

h1 {
  font: 700 1.875rem sans-serif;
  color: var(--title-color);
}

.container{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: 5rem 0;
}

a {
  text-decoration: none;
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(159, 36%, 57%, 1) 0%,
    hsla(159, 65%, 88%, 0.34) 100%,
  ) ;
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

/* Responsive layout */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}